django-advanced-search==1.0.0
django-form-action==1.0.5
django-stubs==4.2.7
django==5.0.6
djangorestframework-stubs==3.14.5
djangorestframework==3.15.1
gunicorn==22.0.0
httpx==0.27.0
psycopg2-binary==2.9.9
pydantic-settings==2.2.1
pydantic==2.7.2
whitenoise==6.6.0
